{% extends "base.html" %}

{% block title %}All Products{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>All Products</h2>
  
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View & Review</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No products available.</p>
        {% endfor %}
       

    </div>
</div>
{% endblock %}

